<div class="container">
  <div class="generic-container">
    <h1 class="text-center">Listing All Articles</h1>
    <%= render 'layouts/messages' %>
    <%= link_to "Create a new Article", new_article_path, class: 'btn btn-primary mb-2' %>
    <br>
    <%= render "articles" %>
  </div>
</div>
